{% extends "partials/_sellerMain.html" %}
{% load static %}

{% block content %}
<!-- panel -->
<div class="container">
    <div class="row p-3 m-2 bg-body-tertiary shadow-sm rounded-3">
        <h5>
            {{user.username}} Profil Sayfası
        </h5>
    </div>
    <div class="row flex-md-row flex-column align-items-center justify-content-center" style="min-height: 50vh;">
        <div class="col-4">
            <a class="btn btn-outline-primary shadow me-2" href="{% url 'orders' %}"><i class="bi bi-bag fs-1"></i></a><small class="d-block fs-2" > Sipariş Geçmişi</small>
        </div>
        <div class="col-4">
            <a class="btn btn-outline-primary shadow me-2" href="{% url 'cart' %}"><i class="bi bi-bag fs-1"></i></a><small class="d-block fs-2" > Sepetim</small>
        </div>
        <div class="col-4">
            <a class="btn btn-outline-primary shadow me-2" href="{% url 'customerLogout' %}"><i class="bi bi-box-arrow-left fs-1"></i></a><small class="d-block fs-2" > Çıkış Yap</small>
        </div>
    </div>
</div>
{% endblock content %}